# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel
prisma/migrations/20230608075729_init/migration.sql
prisma/migrations/20230608082459_migration_name/migration.sql
data/karyawan.mdb
data/karyawan.json
data/karyawan.json
prisma/migrations/20230612044016_addpeminjaman/migration.sql
prisma/migrations/20230612061210_uname/migration.sql
prisma/migrations/20230612064611_alter_trx/migration.sql
prisma/migrations/20230612065425_alter_trx2/migration.sql
prisma/migrations/20230612073007_alter_trx2/migration.sql
prisma/migrations/20230619061500_recon/migration.sql
prisma/migrations/20230619061604_recon/migration.sql
prisma/migrations/20230619064634_recon/migration.sql
prisma/migrations/20230619075044_recon/migration.sql
.gitignore
.gitignore
.gitignore
.gitignore
.gitignore
